.about-section {
    >h3 {
        color: #ce8ab3;
        font-size: 50rem;
        line-height: 42rem;
        letter-spacing: -0.2rem;
        text-transform: uppercase;
        font-style: italic;
        margin: 0;
        padding: 0;
        margin-right: -20rem;
    }

    >p {
        font-size: 14rem;
        margin-bottom: 57rem;
        font-weight: 400;
    }
}