---
import AnimatedText from "./AnimatedText";
import styles from "./MobileAbout.module.scss";
---

<>
    <div class={styles["about-section"]} id="m_about">
        <h3>
            <AnimatedText text="// the" client:load />
            <br />
            <AnimatedText text="    collection" client:load />
        </h3>
        <p>
            We are proud to present the Ha Jung Woo x SuperNormal collection, a
            limited edition line of PFP NFTs inspired by the work of renowned
            Korean artist Ha Jung Woo. The collection was generated with more
            than 500 unique wearable items, each curated with Ha Jung Woo's
            signature style. With only 1,978 NFTs available, this collection
            offers a rare opportunity to own a unique piece of art that has the
            touch of both Ha Jung Woo and SuperNormal.
        </p>
        <h3>
            <AnimatedText text="// the art" client:load />
            <br />
            <AnimatedText text="    concept" client:load />
        </h3>
        <p>
            This collection features the unique style of Ha Jung Woo's artwork
            in the form of NFTs that embodies the beauty and diversity
            SuperNormal stands for.
        </p>
        <h3>
            <AnimatedText text="// the vision &" client:load />
            <br />
            <AnimatedText text="    value" client:load />
        </h3>
        <p>
            NFT technology is a cutting-edge tool that allows digital assets to
            transcend their limitations by providing proof of ownership. We aim
            to take it a step further by developing a simple process that allows
            the holders of this collection to wear the PFPs in the metaverses
            they love. Stay tuned for updates!
        </p>
    </div>
</>
